<center>
    <img src="https://jsantarc.github.io/ADMN5016_2022/images/logo-stc.jpeg" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Midterm**

Classify the Iris flower dataset using Logistic Regression

The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher in his 1936 paper The use of multiple measurements in taxonomic problems as an example of linear discriminant analysis.[1] It is sometimes called Anderson's Iris data set because Edgar Anderson collected the data to quantify the morphologic variation of Iris flowers of three related species.[2] Two of the three species were collected in the Gaspé Peninsula "all from the same pasture, and picked on the same day and measured at the same time by the same person with the same apparatus

Answer the following 5 questions

----

First, let's install `seaborn` for visualization tasks and import required libaries for this lab

In [2]:
!pip install seaborn==0.11.1

Collecting seaborn==0.11.1
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: scipy>=1.0 in c:\anna\lib\site-packages (from seaborn==0.11.1) (1.7.1)
Requirement already satisfied: pandas>=0.23 in c:\anna\lib\site-packages (from seaborn==0.11.1) (1.3.4)
Requirement already satisfied: numpy>=1.15 in c:\anna\lib\site-packages (from seaborn==0.11.1) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in c:\anna\lib\site-packages (from seaborn==0.11.1) (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anna\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\anna\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\anna\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\anna\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\anna\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1) (3.0.4)
Requirement already satisfied: six in c:\anna\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn==0.11.1) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\anna\lib\site-packages (from pandas>=0.23->seaborn==0.11.1) (2021.3)
Installing collected packages: seaborn
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.11.2
    Uninstalling seaborn-0.11.2:
      Successfully uninstalled seaborn-0.11.2
Successfully installed seaborn-0.11.1

In [13]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics


%matplotlib inline

## Load and explore the tumor sample dataset

<b>(Q-1)</b>  load the dataset `iris.csv` as a Pandas dataframe with ```read_csv```:

In [4]:
# Read datast in csv format
df = pd.read_csv('https://raw.githubusercontent.com/jsantarc/ADMN5016_2022/master/week-1/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

<b>(Q-2)</b> split the dataframe  into input `X` with columns <code>'sepal_length','sepal_width','petal_length','petal_width'</code> and output `y` and column  <code>'species'</code>:

In [6]:
X=df[['sepal_length','sepal_width','petal_length','petal_width']]
y = df['species']
X
y

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

<b>(Q-3)</b>  split  dataset <code>X</code> and <code>y</code> into a training and  testing datasets with the following using ```train_test_split```:

In [ ]:
test_size=0.2
random_state=0
#train_test_split

In [8]:
# Split 80% as training dataset
# and 20% as testing dataset (we can also use this as Validation data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

<b>(Q-4)</b> Create a k-nearest neighbor object setting K=4 and fit it using the training  data ```KNeighborsClassifier```

In [14]:
knn_c = KNeighborsClassifier(n_neighbors = 4)
knn_c.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

<b>(Q-5)</b> Test the  k-nearest neighbor  object and fit it using test data :

In [15]:
knn_c2 = KNeighborsClassifier()
knn_c2.fit(X_test,y_test)

KNeighborsClassifier()

For more check out my course on <a href="https://www.coursera.org/learn/machine-learning-with-python">Machine Learning with Python</a>